img {
  width: 200px;
  height: 300px;
  min-width: 200px;
  min-height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.grid-item {
  text-align: center;
  max-width: 100%;
  width: 200px;
  text-decoration: none;
  color: #000;
}

.poster {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.grid-item .poster img {
  border-radius: 10px;
}

.poster img {
  backface-visibility: hidden;
}

.grid-item .poster:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.rating {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 5px 10px;
}

.year {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 5px 10px;
}

.title {
  font-weight: bold;
}

.description {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
