/* HEADER MENU */

.header-menu {
  background-color: #333;
  color: white;
  padding: 5px 20px;
  text-align: center;
}

.header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-list-item {
  color: white;
  padding: 10px;
  display: inline-block;
}

.header-link {
  margin: 0;
  padding: 0;
  color: white;
}

