body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #555;
  cursor: pointer;
}

.home-container {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  text-align: center;
  width: 80%;
}

