.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 40px 0;
}

.page-item {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
}

.pagination a {
  color: #000;
  float: left;
  padding: 4px 12px;
  margin: 4px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid gray;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
